<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<title>Page Title</title>

<body>
  <h1>This is a Heading</h1>

  <ul>
    <select>
     <% for(let i = 0; i < cliente.length; i++) { %>
      <option>
      <%= cliente[i].nombre %>
    </option>
    <% } %>
 
  </select>
  </ul>
  <p>This is a paragraph.</p>
  <p>This is a another paragraph.</p>
</body>

</html>